@import url(http://weloveiconfonts.com/api/?family=fontelico);
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* fontelico */
/* line 5, scss/_font.scss */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/*
 *  Font Awesome More
 *
 */
@font-face {
  font-family: 'Font-Awesome-Social';
  src: url("../font/fontawesome-social-webfont.eot");
  src: url("../font/fontawesome-social-webfont.eot?#iefix") format("embedded-opentype"), url("../font/fontawesome-social-webfont.woff") format("woff"), url("../font/fontawesome-social-webfont.ttf") format("truetype"), url("../font/fontawesome-social-webfont.svg#Font-Awesome-More") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome Social styles
    ------------------------------------------------------- */
/* line 32, scss/_font.scss */
.icon-blogger-sign:before, .icon-blogger:before, .icon-delicious:before, .icon-dribbble-sign:before, .icon-dribbble:before, .icon-dropbox:before, .icon-drupal:before, .icon-evernote-sign:before, .icon-evernote:before, .icon-flickr-sign:before, .icon-flickr:before, .icon-forrst-sign:before, .icon-forrst:before, .icon-foursquare-sign:before, .icon-foursquare:before, .icon-git-fork:before, .icon-hacker-news:before, .icon-instagram:before, .icon-lastfm-sign:before, .icon-lastfm:before, .icon-paypal:before, .icon-picasa-sign:before, .icon-picasa:before, .icon-reddit:before, .icon-share-this-sign:before, .icon-share-this:before, .icon-skype:before, .icon-soundcloud:before, .icon-spotify:before, .icon-stack-overflow:before, .icon-tumblr-sign:before, .icon-tumblr:before, .icon-vimeo-sign:before, .icon-vimeo:before, .icon-wordpress-sign:before, .icon-wordpress:before, .icon-yelp-sign:before, .icon-yelp:before, .icon-youtube-sign:before, .icon-youtube:before {
  font-family: 'Font-Awesome-Social';
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 56, scss/_font.scss */
.icon-dropbox:before {
  content: "\f300";
}

/* line 57, scss/_font.scss */
.icon-drupal:before {
  content: "\f301";
}

/* line 58, scss/_font.scss */
.icon-git-fork:before {
  content: "\f302";
}

/* line 59, scss/_font.scss */
.icon-instagram:before {
  content: "\f303";
}

/* line 60, scss/_font.scss */
.icon-share-this-sign:before {
  content: "\f304";
}

/* line 61, scss/_font.scss */
.icon-share-this:before {
  content: "\f305";
}

/* line 62, scss/_font.scss */
.icon-foursquare-sign:before {
  content: "\f306";
}

/* line 63, scss/_font.scss */
.icon-foursquare:before {
  content: "\f307";
}

/* line 64, scss/_font.scss */
.icon-hacker-news:before {
  content: "\f308";
}

/* line 65, scss/_font.scss */
.icon-skype:before {
  content: "\f309";
}

/* line 66, scss/_font.scss */
.icon-spotify:before {
  content: "\f30a";
}

/* line 67, scss/_font.scss */
.icon-soundcloud:before {
  content: "\f30b";
}

/* line 68, scss/_font.scss */
.icon-paypal:before {
  content: "\f30c";
}

/* line 69, scss/_font.scss */
.icon-youtube-sign:before {
  content: "\f30d";
}

/* line 70, scss/_font.scss */
.icon-youtube:before {
  content: "\f30e";
}

/* line 71, scss/_font.scss */
.icon-reddit:before {
  content: "\f30f";
}

/* line 73, scss/_font.scss */
.icon-blogger-sign:before {
  content: "\f310";
}

/* line 74, scss/_font.scss */
.icon-blogger:before {
  content: "\f311";
}

/* line 75, scss/_font.scss */
.icon-dribbble-sign:before {
  content: "\f312";
}

/* line 76, scss/_font.scss */
.icon-dribbble:before {
  content: "\f313";
}

/* line 77, scss/_font.scss */
.icon-evernote-sign:before {
  content: "\f314";
}

/* line 78, scss/_font.scss */
.icon-evernote:before {
  content: "\f315";
}

/* line 79, scss/_font.scss */
.icon-flickr-sign:before {
  content: "\f316";
}

/* line 80, scss/_font.scss */
.icon-flickr:before {
  content: "\f317";
}

/* line 81, scss/_font.scss */
.icon-forrst-sign:before {
  content: "\f318";
}

/* line 82, scss/_font.scss */
.icon-forrst:before {
  content: "\f319";
}

/* line 83, scss/_font.scss */
.icon-delicious:before {
  content: "\f31a";
}

/* line 84, scss/_font.scss */
.icon-lastfm-sign:before {
  content: "\f31b";
}

/* line 85, scss/_font.scss */
.icon-lastfm:before {
  content: "\f31c";
}

/* line 86, scss/_font.scss */
.icon-picasa-sign:before {
  content: "\f31d";
}

/* line 87, scss/_font.scss */
.icon-picasa:before {
  content: "\f31e";
}

/* line 89, scss/_font.scss */
.icon-stack-overflow:before {
  content: "\f320";
}

/* line 90, scss/_font.scss */
.icon-tumblr-sign:before {
  content: "\f321";
}

/* line 91, scss/_font.scss */
.icon-tumblr:before {
  content: "\f322";
}

/* line 92, scss/_font.scss */
.icon-vimeo-sign:before {
  content: "\f323";
}

/* line 93, scss/_font.scss */
.icon-vimeo:before {
  content: "\f324";
}

/* line 94, scss/_font.scss */
.icon-wordpress-sign:before {
  content: "\f325";
}

/* line 95, scss/_font.scss */
.icon-wordpress:before {
  content: "\f326";
}

/* line 96, scss/_font.scss */
.icon-yelp-sign:before {
  content: "\f327";
}

/* line 97, scss/_font.scss */
.icon-yelp:before {
  content: "\f328";
}

/* line 6, scss/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, scss/style.scss */
html,
body,
article {
  height: 100%;
  font-family: arial;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
/* line 19, scss/style.scss */
html a,
body a,
article a {
  color: #fff;
}
/* line 21, scss/style.scss */
html a:hover,
body a:hover,
article a:hover {
  text-decoration: none;
}

/* line 28, scss/style.scss */
header,
footer {
  position: absolute;
  width: 100%;
  padding: 20px;
}

/* line 34, scss/style.scss */
article {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* line 40, scss/style.scss */
header {
  top: 0px;
  font-weight: bold;
}
/* line 43, scss/style.scss */
header h1 {
  font-size: 28px;
  color: #fff;
  font-family: arial;
  font-weight: bold;
}

/* line 51, scss/style.scss */
footer {
  bottom: 0px;
}
/* line 53, scss/style.scss */
footer time {
  font-weight: bold;
}

/* line 61, scss/style.scss */
.ticker,
.credit,
.controls {
  position: absolute;
  bottom: 0px;
}

/* line 66, scss/style.scss */
.controls {
  top: 0;
  right: 0;
  padding: 20px;
}
/* line 71, scss/style.scss */
.controls ul li {
  margin-left: 4px;
}
/* line 74, scss/style.scss */
.controls ul li.active a {
  background: rgba(255, 255, 255, 0.5);
}
/* line 78, scss/style.scss */
.controls ul li a {
  display: block;
  background: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  padding: 8px 0px;
  width: 32px;
  text-align: center;
  color: #fff;
}
/* line 86, scss/style.scss */
.controls ul li a:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* line 94, scss/style.scss */
.ticker {
  -webkit-font-smoothing: antialiased;
  width: 70%;
  line-height: 24px;
}
/* line 99, scss/style.scss */
.ticker ul li {
  padding-bottom: 20px;
}

/* line 105, scss/style.scss */
.credit {
  right: 0;
  padding: 20px;
}
/* line 108, scss/style.scss */
.credit a {
  display: block;
  width: 78px;
  height: 66px;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}
/* line 115, scss/style.scss */
.credit a.rp {
  background-image: url(../img/rp.png);
}
/* line 118, scss/style.scss */
.credit a.gv {
  background-image: url(../img/gv_lrg.png);
}

/* line 125, scss/style.scss */
.float li {
  float: left;
}

/* line 131, scss/style.scss */
.tweet a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
/* line 134, scss/style.scss */
.tweet a:hover {
  color: rgba(255, 255, 255, 0.5);
}
