
	@import "compass/reset";
	@import "compass/css3/box-sizing";
	@import "font";

	*{ @include box-sizing(border-box); }

	$overRGBA: rgba(255,255,255,.5);
	$outRGBA: rgba(255,255,255,.3);
	$gutter: 20px;

	html, 
	body, 
	article,
	#cctv ul,
	#cctv ul li,
	.loader{
		position: absolute;
		height: 100%;
		width: 100%;
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		a{
			color: #fff;
			&:hover{
				text-decoration: none;
			}
		}
	}

	html{
		background: red;
	}

	header,
	footer{
		position: absolute;
		width: 100%;
		padding: $gutter;
	}

	article{
		position: relative;
		// -webkit-transition: background 0.5s linear;
		// -moz-transition: background 0.5s linear;
		// -o-transition: background 0.5s linear;
		// transition: background 0.5s linear;
	}

	header {
		top: 0px;
		font-weight: bold;
		h1{
			font-size: 28px;
			color: #fff;
			font-family: arial;
			font-weight: bold;
		}
	}

	footer{
		bottom: 0px;
		time{
			font-weight: bold;
		}
	}


	.ticker,
	.credit,
	.controls{
		position: absolute;
		bottom: 0px;
	}

	.controls{
		top:0;
		right:0;
		padding: $gutter;
		ul{
			li{
				margin-left: 4px;
				&.active{
					a{
						background: $overRGBA;
					}
				}
				a{
					display: block;
					background: $outRGBA;
					text-decoration: none;
					padding: 8px 0px;
					width: 32px;
					text-align: center;
					color: #fff;
					&:hover{
						background: $overRGBA;
					}
				}
			}
		}
	}

	.ticker{
		-webkit-font-smoothing: antialiased;
		width: 70%;
		line-height: 24px;
		ul{
			li{
				padding-bottom: $gutter;
			}
		}
	}

	.credit{
		right: 0;
		padding: $gutter;
		a{
			display: block;
			width: 78px;
			height: 66px;
			background-repeat: no-repeat;
			background-position: center;
			text-indent: -9999px;
			&.rp{
				background-image: url(../img/rp.png);
			}
			&.gv{
				background-image: url(../img/gv_lrg.png);	
			}
		}
	}

	.float{
		li{
			float: left;
		}
	}

	.service-icon{
		color: $outRGBA;
		text-decoration: none;
		&:hover{
			color: $overRGBA;	
		}
	}


	#cctv{
		li{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			display: none;
		}
	}




