
	@import "compass/reset";
	@import "compass/css3/box-sizing";
	@import "font";

	*{ @include box-sizing(border-box); }

	$overRGBA: rgba(255,255,255,.5);
	$outRGBA: rgba(255,255,255,.3);
	$gutter: 20px;

	html, 
	body, 
	article{
		height: 100%;
		font-family: arial;
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		a{
			color: #fff;
			&:hover{
				text-decoration: none;
			}
		}
	}

	header,
	footer{
		position: absolute;
		width: 100%;
		padding: $gutter;
	}

	article{
		background-color: #000;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		-webkit-transition: background 0.5s linear;
		-moz-transition: background 0.5s linear;
		-o-transition: background 0.5s linear;
		transition: background 0.5s linear;
	}

	header {
		top: 0px;
		font-weight: bold;
		h1{
			font-size: 28px;
			color: #fff;
			font-family: arial;
			font-weight: bold;
		}
	}

	footer{
		bottom: 0px;
		time{
			font-weight: bold;
		}
	}


	.ticker,
	.credit,
	.controls{
		position: absolute;
		bottom: 0px;
	}

	.controls{
		top:0;
		right:0;
		padding: $gutter;
		ul{
			li{
				margin-left: 4px;
				&.active{
					a{
						background: $overRGBA;
					}
				}
				a{
					display: block;
					background: $outRGBA;
					text-decoration: none;
					padding: 8px 0px;
					width: 32px;
					text-align: center;
					color: #fff;
					&:hover{
						background: $overRGBA;
					}
				}
			}
		}
		.message{
			background: rgba(50,50,50,0.3);
			padding: 3px;
		}
	}

	.ticker{
		-webkit-font-smoothing: antialiased;
		width: 100%;
		line-height: 24px;
		display: none;
		ul{
			height: 24px;
			overflow: hidden;
			li{
				height: 24px;
				padding-bottom: $gutter;
				background: rgba(50, 50, 50, 0.3);
			}
		}
	}

	.credit{
		right: 0;
		padding: $gutter;
		a{
			display: block;
			width: 78px;
			height: 66px;
			background-repeat: no-repeat;
			background-position: center;
			text-indent: -9999px;
			&.rp{
				background-image: url(../img/rp.png);
			}
			&.gv{
				background-image: url(../img/gv_lrg.png);	
			}
		}
	}

	.float{
		li{
			float: left;
		}
	}

	.tweet{
		a{
			color: $outRGBA;
			text-decoration: none;
			&:hover{
				color: $overRGBA;	
			}
		}
	}